<script setup lang="ts">
import NumberButtom2 from '@/components/NumberButtom2.vue';
import { useHomeStore } from '@/stores/homeStore';
import NumberButtom from './NumberButtom.vue';
import {ref,provide} from 'vue'
const homeStore = useHomeStore()
const num = ref(10)
provide('num1',num)
provide('num1Click',() =>{num.value+=2})
</script>
<template>
  <div>{{ homeStore.num }}</div>
  <div><NumberButtom /></div>
  <div><NumberButtom2 /></div>
</template>