<script setup lang="ts">
import DummyComponent from '@/components/DummyComponent.vue';
import { provide, ref } from 'vue';
const num1=ref(0)
provide ('num1',num1)
function num1Click(){
  num1.value ++
}
provide('num1Cilck',num1Click)
</script>

<template>
<div style="text-align: center;">
  <img style="width: 300px; border-radius: 50%;" src="../assets/4x.png" alt="">
  <h3>สวัสดีชาวโลก</h3>
  {{ num1 }}
  <DummyComponent  />
</div>
</template>
