<script setup lang="ts">
import NumberButtom from '@/components/NumberButtom.vue';
import { ref } from 'vue';
const num1=ref(0)
function num1Click(num:number){
  console.log('Num 1 Click '+num);
  
  num1.value = num
  
}
</script>

<template>
<div style="text-align: center;">
  <img style="width: 300px; border-radius: 50%;" src="../assets/4x.png" alt="">
  <h3>สวัสดีชาวโลก</h3>
  {{ num1 }}<NumberButtom :num="1" @numClick="num1Click"/>
  <NumberButtom :num="2"/>
  <NumberButtom :num="3" :inc="5"/>
</div>
</template>
