<script setup lang="ts">
import { inject, onMounted, ref, type Ref } from 'vue';

const _num = inject<Ref<number>>('num1') ?? ref(1)
const doInc = () => {
    _num.value = _num.value+1
}
const num1Cilck = inject<() => void>('num1Cilck') ?? doInc

</script>

<template>
    <button @click="num1Cilck()">{{ _num }}</button>

</template>

